.dashboard-main-content {
    display: flex; 
    flex-direction: column;
    display: block;
    width: 100%;
    padding: 3rem;
}

.dashboard-header {
    width: 100%; 
    & h1 {
        font-size: 2rem;
    }

    & p {
        margin-top: 1rem;
    } 
}

mark.red-text {
    color:#ff0000;
    background: none;
}

.all-graphs-plus-average {
    display: flex; 
    flex-direction: row;
    margin-top: 4rem;
}

.all-graphs {
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 860px;

    .up-graph {
        height: 420px;
    }
    .down-graphs {
        display: flex;
        flex-direction: row;

        
        height: 260px;
    }
}

.average-container {
    width: 260px;
}