.dashboard-main-content {
    display: flex; 
    flex-direction: column;
    display: block;
    width: 100%;
    padding: 3rem;
}

.dashboard-header {
    width: 100%; 
    & h1 {
        font-size: 2rem;
    }

    & p {
        margin-top: 1rem;
    } 
}

mark.red-text {
    color:#ff0000;
    background: none;
}

.all-graphs-plus-average {
    display: flex; 
    flex-direction: row;
    margin-top: 4rem;
}

.all-graphs {
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 860px;

    .up-graph {
		height: 350px;
        padding-bottom: 5rem;
        background-color: #FBFBFB;
        border-radius: 10px;
    }
    .down-graphs {
        display: flex;
        flex-direction: row;
        height: 650px;
        margin-top: 2rem;

        & div {
            width: 33%;
        }
    }
}

.objectifs-graph {
    background-color: $primary-red;
}

.activity-graph {
    background-color: #282D30;
} 

//Score moyen container
.scoremoyen-graph {
    background-color: $gray-color;
    border: 2px solid blue;
}

//Fin Score moyen container

.average-container {
    width: 260px;
}

.objectifs-custom-tooltip {
    background-color: white;
    font-size: 8px;
    padding: 6px 7px;
}

.objectifs-label-container {
    position: absolute;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 29px;
    margin-left: 34px;
    width: 147px;
    opacity: 50%;
}

.objectifs-custom-hover {
    stroke: transparent;
}
