.main {
    display: flex;
    flex-direction: row;
}

.activity-custom-tooltip {
    background-color: $primary-red;
    color: white;
    padding: 0.5rem;
    border: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & p {
        font-size: 12px;
    }

    &:focus {
        border: transparent;
    }
}