.main {
  display: flex;
  flex-direction: row;
}

.activity-custom-tooltip {
  background-color: $primary-red;
  color: white;
  padding: 0.5rem;
  gap: 2rem;
  & p {
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: 12px;
  }
}

.main-activity-label-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  & div {
    display: flex;
    gap: 1rem;
  }
}

.main-activity-label-container {
  & p img{
    margin-right: .4rem;
  }
}
