*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.activity-custom-tooltip {
  background-color: #FF0101;
  color: white;
  padding: 0.5rem;
  border: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.activity-custom-tooltip p {
  font-size: 12px;
}
.activity-custom-tooltip:focus {
  border: transparent;
}

.navbar-container {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: #020203;
  z-index: 2;
}
.navbar-container img {
  height: 3rem;
  margin-left: 1rem;
}
.navbar-container p {
  align-self: center;
  color: #FFF;
  font-weight: 600;
  margin-right: 5rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: #020203;
  width: 5rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.sidebar-container img {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
}
.sidebar-container p {
  color: #FFF;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-top: 4rem;
  font-size: 0.7rem;
}

.dashboard-main-content {
  display: flex;
  flex-direction: column;
  display: block;
  width: 100%;
  padding: 3rem;
}

.dashboard-header {
  width: 100%;
}
.dashboard-header h1 {
  font-size: 2rem;
}
.dashboard-header p {
  margin-top: 1rem;
}

mark.red-text {
  color: #ff0000;
  background: none;
}

.all-graphs-plus-average {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.all-graphs {
  height: 50vh;
  display: flex;
  flex-direction: column;
  width: 860px;
}
.all-graphs .up-graph {
  height: 420px;
}
.all-graphs .down-graphs {
  display: flex;
  flex-direction: row;
  height: 260px;
}

.average-container {
  width: 260px;
}

.smallcard-container {
  display: flex;
  padding: 1.5rem;
  background-color: #FBFBFB;
  margin: 1rem;
  border-radius: 5px;
}

.smallcard-image {
  padding: 1rem;
  border-radius: 10px;
}

.smallcard-texts {
  padding: 1rem;
}
.smallcard-texts p {
  font-size: 0.8rem;
}/*# sourceMappingURL=main.css.map */